.home h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}



.btn {
    background-color: #fff;
    color: #160d0d;
    border: 1px solid #ebdfc0;
    opacity: 1;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    color: #ebdfc0;
    background-color: #160d0d;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.legend ul {
    display: flex;
    gap: 1rem;
}

.legend ul li {
    display: flex;
    align-items: end;
}

.legend ul li span {
    border: 1px solid rgb(6, 14, 55);
    border-radius: 50%;
}

.status-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
}


.pendente {
    background-color: #E17B7B;
    /* Cor para status "Pendente" */
}

.em-andamento {
    background-color: #E1E17B;
    /* Cor para status "Em andamento" */
}

.concluida {
    background-color: #7BE17B;
    /* Cor para status "Concluída" */
}