.new-task h1 {
    text-align: center;
    margin-bottom: 3rem;
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: 600;
}

.form-control input,
.form-control textarea,
.form-control select {
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #0d0d16;
}

.btn-cadastrar,
.btn-back {
    font-size: 20px;
}

.btn-cadastrar {
    color: #000000;
    background-color: #86de89;
    border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.btn-cadastrar:hover {
    color: #ffffff;
    background-color: #0f1e3d;
}

.buttons-new-task {
    display: flex;
    gap: 0.5rem;
}